body {	
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
	background-color: #ececec;
}

/* *****************
	Landing page 
*********************/
#header {
	background-color: #252525;
	color: white;
}

@font-face {
    font-family: "tSFont";
    src: url(tS_EL.otf);
}

#header-title {
	font-size: 24px;
	padding-left: 40px;
	font-family: "tSFont";
}

#header-title span {
	background-color: #c52334;
	padding: 0px 4px;
	border-radius: 0px 8px 8px 8px;
}

#header-status {
	font-size: 18px;
	background-color: #5a5a5a;
	padding: 6px 0px 3px 40px;
	
}

#uploader {	
	display: none;
}

.header-btn {
	display: inline-block;
	border: 2px solid #ececec;
	color: #ececec;
	padding: 4px 10px;
	cursor: pointer;
	background-color: none;
}

.header-btn:hover {	
	background-color:  #ececec;
	border: 2px solid #ececec;
	color: #5a5a5a;
}

#header-play-btn {
	background-color: #ececec;
	border: 2px solid #ececec;
	color: #5a5a5a;
}

#header-play-btn:hover {
	background-color: #c52334;
	border: 2px solid #c52334;
	color: white;
}

/* *****************
	Details Form
*********************/
#result-form {
	position: absolute;
	top: -1000px;
}
.dl-1 {
	display: inline-block;
	width: 150px;
	
	font-size: 15px;
}

.dl-2 {
	display: inline-block;
	width: 350px;
}

#mission-time, h4 {	
	display: inline-block;
	padding: 1px 5px;
	
	border: 1px solid #6798D2;
	background-color: #6798D2;
	border-radius: 15px;
	font-size: 14px;
	color: white;
}

.dl-3 {
	display: block;
	width: 500px;
	padding: 1px 4px;
	font-size: 14px;
	background-color: #D8D8D8;
}

#mission-desc {
	background-color
}

#result-form ul li {
	padding: 3px 0px;
	list-style-type: none;
}

#player-list {
	font-family: sans-serif;
	font-size: 14px;
}

#start-btn-panel {
	margin-left: 40px;
}

.start-btn {
	display: inline-block;
	border: 1px solid #252525;
	color: #252525;
	padding: 6px 16px;
	cursor: pointer;
	width: 500px;
	line-height: 20px;
	text-align: center;
}

.start-btn:hover {	
	background-color:  #C52334;
	border: 1px solid white;
	color: white;
}

/* ******************
	Report Player 
******************** */
.panzoom {
	-webkit-backface-visibility: initial !important;
	-webkit-transform-origin: 50% 50%;
}

#player-line {
	position: absolute;
	display: inline;
	width: 100%;
	top: -100px;
	z-index: 0;
}

#player-header {	
	position: absolute;
	width: 100%;
	top: -12px;
	padding: 0px 0px 25px 20px;
	background-color: #252525;
	
	font-size: 18px;
	color: white;
	z-index: -4;
	
	
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+100,252525+100,000000+100&0.84+25,0.7+56,0.53+84,0+100 */
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.84) 25%, rgba(0,0,0,0.7) 56%, rgba(0,0,0,0.53) 84%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.84) 25%,rgba(0,0,0,0.7) 56%,rgba(0,0,0,0.53) 84%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.84) 25%,rgba(0,0,0,0.7) 56%,rgba(0,0,0,0.53) 84%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

}

#player-step {
	display: inline;
	margin: 10px;
	width: 5%;
}

#player-indicator {
	display: inline-block;
	padding-left: 20px;
	font-size: 10px;
	color: white;
	z-index: 151;
}

#slider {
	display: inline-block;
	left: 10px;
	width: 300px;
}

#player-step-backward, #player-step-play, #player-step-forward {
	height: 24px;
	width: 24px;
}

#player-speed-button {
	top: 8px;
}

.ui-widget {
	font-size: 10px;
}

#player-info {
	right: 10px;
	top: 10px;
	float: right;
}

/* *********************
	Units 
********************** */
.unit-marker {
	display: inline;
	position:absolute;
	
	text-align: center;
}

.unit-marker span {
	display: block;
}

.unit-marker .icn {
	width: 32px;
	height: 32px;	
}

.player-side-icon {
	display: inline-block;
	color: white;
	margin: 2px 1px;
	border-radius: 6px;
}

.details-desc {
	border-radius: 6px;
	background-color: #D8D8D8;
	padding: 3px;
	font-size: 12px;
}

canvas {
	display: inline-block;
	position:absolute;	
}
